body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: lavender;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    color: darkorchid;
}

.text-danger {
    color: red;
    font-weight: bold;
}

.car-page {
    width: auto;
    padding-top: 25px;
    margin-top: 10%;
}

.item {
    margin-left: 25px;
    display: inline-block;
    border-radius: 8px;
    background-color: white;
    width: 350px;
    padding: 5px;
    margin-bottom: 15px;

}

    .item:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

#photo.item {
    width: 240px;
    height: 350px;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 15px;
}

#title {
    text-align: center;
    margin-bottom: 20px;
}
#title a {
    color: black;
}

    #title a:hover {
        color: red;
        text-decoration: none;
    }

#title-admin-page {
    text-align: center;
}
#price{ 
    text-align: center;
    margin-bottom: 15px;
}
.car-detail {
    padding: 20px;
    width: auto;
}

.title-details {
    text-align: center;
    font-weight: bold;
    font-size: large;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.photo {
    padding: 8%;
    float: left;
}

#price-detail {
    float: right;
    padding: 10%;
    margin-right: 50px;
}

.specification {
    clear: both;
    padding: 25px;
}
