@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Add Role";
}

<h3>   @Html.ActionLink("Create New Role", "Create", "Role", new { @class = "btn btn-primary" }) </h3>
<table class="table">
    <tr>
        <td align="center" colspan="2">
            <h2> Create User Roles</h2>
        </td>
    </tr>
    <tr>

        @foreach (var item in Model)
        {
        <tr>
            <td style="width:100%">
                @item.Name
            </td>
        </tr>
    }



        </tr>

    </table>